body, html{
    margin: 0;
    height: 100%;
}

.header-wrap,
.menu-group,
.bar,
#dataLayer,
.footer-wrapper {
    display: block;
    width: 954px;
    margin: 0 auto;
    transition: 0.5s;/*responsive animation*/
}

header {
    width: 100%;
    height: 120px;
}

.header-wrap{
    padding: 30px 0 0 0;
    height: 100%;
}

.header-wrap .logo {
    float: left;
    height: auto;
    padding: 0 10px;
}

.logo-img{
    width: 100%;
}

.search-box{/*div search box*/
    float: left;
    color: #333;
    border: solid 2px;
    border-radius: 5px;
    width: 30%;
    margin: 0 4%;
    padding: 0 10px;
    transition: 0.5s;/*responsive animation*/
}

.search-box form{
    width: 100%;
}

.minifier {/*minifier image*/
    color: #D73A1E;
    padding: 10px;
}

.search-input {
    border: 0;
    outline: 0;
    width: 80%;
    height: 40px;
    font-size: 16px;
    color: #523468;
}

.search-box ::placeholder{
    color: #CCC;
    font-size: 16px;
    padding: 10px;
}

.open-mobile-menu,
.close-mobile-menu {
    display: none;
}

.delivery-area{
    float: right;
}

.delivery-area > div {
    float: left;
}

.cauldronIMG{
    margin-right: 10px;
}

.freeshipping {
    width: 150px;
}

.freeshipping a{
    margin-right: 32px;
    color: #D73A1E;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.cart a{
    text-decoration: none;
}

.bag-group *{
    float: left;
    font-family: "Open Sans";
    font-weight: 600;
}

.bag{
    color: #BBB;
    font-size: 18px;
}

.qty{
    color: #D73A1E;
    margin-left: 4px;
}

nav.bar{
    background: #523468;
    width: 100%;
    height: 68px;
    margin: 0;
    overflow: hidden;
}

.fa-caret-down{/*arrows down*/
   margin-left: 10px;
}

ul.menu{
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 0; /*mid of line*/
    font-size: 18px;
}

.menu a, 
.user-sign-in-up a {
    color: white;
    font-style: italic;
    text-decoration: none;
}

li.menu-item, 
.user-sign-in-up a{
    display: inline-block;
    padding: 15px;
}

li.menu-item:hover, 
.user-sign-in-up a:hover {
    background: #422a53;
    border-radius: 5px;
}

ul.submenu{
    display: none;
    position: absolute;
    background: #523468;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    list-style: none;
    margin-top: 15px;
    margin-left: -15px;
    padding: 20px;
}

.menu-item:hover .submenu,
.submenu-item:hover .submenu {
    display: block;
}

.user-sign-in-up{
    float: right;
    padding: 10px 0;/*mid of line*/
    margin-left: 50px;
}

.or{/*Sign In Sign Up*/
    color:#a17ba8; 
    font-style:italic;
    margin: 0 5px;
}


/***********
**JSON API**
************/

#potions{
    display: flex;
    flex-wrap: wrap;
}

.potions-img{
    width: 200px;
    height: auto;
}

.potions-item{
    flex: 6%;
    margin: 40px 4%;
    text-align: center;
}

.potions-item img {
    cursor: pointer;
}

.product-name {
    display: inline-block;
}

.product-name::after {
    content: " - ";
}

.price{
    /*enhance price color - orange*/
    display: inline-block;
    color: #D73A1E;
    font-weight: normal;
}

/********************
**Light BOX - MODAL**
*********************/
#lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
}

#lightbox-content {
    position: relative;
    top: 70px;
    max-width: 700px;
    min-width: 500px;
    width: 60%;
    height: 500px;
    background: white;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 10;
}

.close-lite-box {
    /*close button*/
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: #555;
    transform: scale(1, 1.7);
}

#left-lite-box,
#right-lite-box {
    float: left;
    font-size: 14px;
}

    #img-lite-box{
        width: 100%;
        height: auto;
    }

#left-lite-box {
    width: 55%;
}

#right-lite-box {
    width: 45%;
}

.price-tag {
    font-weight: bold;
    margin-bottom: 0;
}

.price-lt {
    /*enhance price color - orange*/
    color: #D73A1E;
    font-weight: bold;
    margin-top: 0;
}

.add-to-cart {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    background: #d73a1e;
    width: 138px;
    height: 38px;
    font-size: 16px;
    text-transform: uppercase;
}

/***********
**Footer**
************/
footer{
    background: #E6E6E6;
    font-family: "Open Sans";
    padding-bottom: 30px;
}

.footer-wrapper{
    padding: 40px 0 0 0;
}

.footer-left {
    float: left;
    width: 400px;
    padding: 10px;
}

.footer-left ul{
    padding: 0;
}

.company{
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.company li{
    display: inline;
    padding-right: 30px;
}

.company li a{
    text-decoration: none;
    color: #D73A1E;
}

.social{
    width: 100%;
    list-style: none;
    margin-bottom: 40px;
}

.social li{
    display: inline;
    padding-right: 20px;
    font-size: 30px;
}

.social li a{
    text-decoration: none;
    color: #53336A;
}

small {
    font-size: 16px;
    font-family: Oswald;
    color: #777;
}

.footer-right {
    float: right;
    width: 400px;
    height: 132px;
    background: white;
    border-radius: 5px;
    font-family: "Open Sans";
    padding: 27px 25px;
}

.footer-right input {
    height: 38px;
    width: 260px;
    border-radius: 5px;
    border: solid 1px;
}

.footer-right input::placeholder{
    padding: 10px;
    font-size: 15px;
    color: #999;
}

.footer-right button{
    background: #D73A1E;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    width: 114px;
    height: 38px;
}

.clearfix{
    clear: both;
}

/**********************
**RESPONSIVE & MOBILE**
**********************/

@media screen and (max-width: 954px){/*under half desktop ~958px*/
    .header-wrap,
    .menu-group,
    main,
    #dataLayer,
    .footer-wrapper {
        width: 830px;
        margin: 0 auto;
        transition: 0.5s;/*responsive animation*/
    }

    .search-box{
        width: 30%;
        margin: 0 2%;
        transition: 0.5s;/*responsive animation*/
    }

    .footer-left,
    .footer-right{
        float: none;
        margin: 0 auto;
    }

}


@media screen and (max-width: 930px) {
    .header-wrap,
    .menu-group,
    main,
    #dataLayer,
    .footer-wrapper {
        width: 770px;
        margin: 0 auto;
        transition: 0.5s;/*responsive animation*/
    }
    .search-box {
        width: 27%;
        margin: 0 2%;
        transition: 0.5s;/*responsive animation*/
    }

    .freeshipping a{
        font-size: 16px;
    }

    .search-input,
    .search-box ::placeholder {
            font-size: 12px;
    }

    .footer-right,
    .footer-left{
         float: none;       
    }

}

@media screen and (max-width: 770px) {
    .header-wrap,
    .menu-group,
    main,
    #dataLayer,
    .footer-wrapper {
        width: 630px;
        margin: 0 auto;
        transition: 0.5s;/*responsive animation*/
    }

    .search-box {
        width: 30%;
        margin: 0 1%;
        transition: 0.5s;/*responsive animation*/
    }

    .search-input {
        width: 50%;
    }

    .freeshipping{
        display: none;
    }

    .footer-left,
    .footer-right {
        float: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 630px) {
    .header-wrap,
    .menu-group,
    main,
    #dataLayer,
    .footer-wrapper {
        width: 500px;
        margin: 0 auto;
        transition: 0.5s;
        /*responsive animation*/
    }

    .logo {
        margin: 0 40px 0 80px;
    }

    .open-mobile-menu {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
        border: 0;
        background: 0;
        margin: 0 30px 0 20px;
        padding: 0;
        -webkit-text-stroke: 3px;
        transform: scale(1.2, 0.9);
        color: #50356C;
        z-index: 1;
    }

    .close-mobile-menu {
        display: none;
        cursor: pointer;
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 40px;
        color: #50356C;
        z-index: 1;
    }

    nav.bar,
    .menu-item i,
    .submenu,
    .submenu-item{
        display: none;
    }

    .container{
        position: relative;/*for 100% height in .menu-group*/
    }

    .menu-group{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        padding-top: 85px;
        transition: 1s;
    }

    .search-box {
        display: none;
        position: absolute;
        left: 67px;
        top: 20px;
        z-index: 1;
        width: 250px;
    }

    .search-input{
        width: 80%;
    }

    ul.menu{
        width: 100%;
        padding: 0;
    }
    
    li.menu-item,
    .user-sign-in-up{
        display: block;
        float: none;
        background: #50356C;
        border-bottom: 1px solid #765e8b;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    li.menu-item a{
        margin-left: 50px;
    }

    li.menu-item:hover{
        border-radius: 0;
    }

    li.menu-item:nth-child(n+5) {/*white lines*/
        display: block;
        border: 0;
        width: 100%;
    }

    li.menu-item:nth-child(6) {
        background: #422a53;
    }

    .menu-item:hover .submenu,
    .submenu-item:hover .submenu {/*fix ul bug on hover*/
        display: none;
        padding: 0;
        margin: 0;
    }

    .user-sign-in-up {
        float: left;
        width: 100%;
        padding-top: 38px;
        margin: 0;
        text-align: center;
    }

    .freeshipping{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 20px;
        background: #ECECEC;
        text-align: center;
    }

    .freeshipping a{
        font-size: 25px;
        height: 20px;
        color: #6a6a6a;
        white-space: nowrap;
    }

    .bag-group *{
        float: none;
    }

    .bag-group h1 {
        position: relative;
        font-size: 14px;
        left: -50px;
        top: 20px;
        display: inline-block;
    }
    
    #dataLayer h1{
        text-align: center;
    }

    #potions{
        margin: 0;
    }

    .potions-item{
        margin: 40px 0;
    }

    .footer-right,
    .footer-left {
        float: none;
        margin: 0 auto;
    }

}