body, html{
    margin: 0;
}

.wrapper{
    padding: 0 20px;
}

.container {
    height: 100%;
        border: solid 1px grey;
}

header{
    display: block;
    height: 120px;
    width: 1042px;
    margin: 0 auto;    
}

header *{
    float: left;
}

.header-wrap{
    margin: 30px 20px;
    padding: 30px 0;
    position: relative;
}

.logo{
    margin-right: 62px;
}

.minifier{/*minifier image*/
    background: url("assets/images/magnifier.png") no-repeat 10px;
    width: 40px;
    height: 40px;
}

.searchBox{/*div search box*/
    margin: 0 auto;
    border: solid 2px;
    border-radius: 5px;
    color: #333;
}

.searchBox input{
    border: 0;
    width: 282px;
    height: 40px;
}

.searchBox ::-webkit-input-placeholder{
    color: #CCC;
    padding: 10px;
}

.cart{
    float: right;
}

.cauldronIMG{
    margin-right: 27px;
}

.freeshipping{
    margin-right: 32px;
    color: #D73A1E;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}

.bag{
    color: #BBB;
    font-family: "Open Sans";
}

.qty{
    color: #D73A1E;
    font-family: "Open Sans";
    margin-left: 2px;
}

nav.store{
    background: #523468;
    width: 100%;
    height: 60px;
}

nav ul{
    list-style: none;
    padding: 20px;
}

nav ul li{
    color: white;
    display: inline;
    padding-right: 54px;
    font-family: Oswald;
    font-size: 18px;
}

nav ul li a:hover{
    background: #422A53;
}
.sub-nav{
    display: none;
}

.sub-nav:hover{
    display: block;
}

main{
    min-height: 450px;
}




footer{
    width: 100%;
    height: 277px;
    background: #E6E6E6;
}